@charset "UTF-8";


.context {
	padding: 100px;
	position: relative;
	height: 100%;
}
.inner-table {
	margin-top: 50px;
}
#image_container {
    overflow: auto;
    height: 300px;
    display: flex;
}